h1 {
    color: whitesmoke;
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(15, 29, 21);
    padding: 20px;
}

body {
    background-color: rgb(221, 255, 236);
    padding-bottom: 250px;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(15, 29, 21);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    height: 5rem;
    width: auto;
    padding: 10px;
    background-color: rgb(193, 224, 219);
    border-radius: 50%;
}

.header-content {
    flex: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 2rem;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(218, 255, 241);
    border-radius: 2px;
}

.nav-link {
    background-color: rgb(196, 231, 215);
    border: none;
    border-radius: 5px;
}

.nav-links {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(1, 24, 14);
    width: 200px;
    flex-direction: column;
    padding: 20px;
    box-shadow: -2px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    gap: 15px;
}

.nav-links a {
    display: block;
    color: rgb(3, 41, 25);
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
}

.nav-links.open {
    display: flex;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(196, 231, 215);
    border-radius: 20px;
    width: 70%;
    max-width: 600px;
}

.name-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(196, 231, 215);
    border-radius: 10px;
    width: 90%;
}

.email-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(196, 231, 215);
    border-radius: 10px;
    width: 90%;
}

.message-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(196, 231, 215);
    border-radius: 10px;
    width: 90%;
}

button[type="submit"] {
    background-color: rgb(23, 83, 58);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    display: block;
    width: 40%;
    justify-content: center;
}

button[type="submit"]:hover {
    background-color: rgb(36, 131, 123);
    transform: scale(1.05);
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

input[type="text"], input[type="email"] {
    padding: 10px;
    border: 1px solid rgb(23, 83, 58);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    padding: 10px;
    border: 1px solid rgb(23, 83, 58);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.item-card {
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    flex-direction: column;
    /* background-color: rgb(120, 110, 150); */
    margin: 10px;
    transition: 0.3s ease-in-out;
    background-size: cover;
    max-width: 300px;
    min-width: 250px;
}

.one {
    background-image: url("images/standMixer.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.two {
    background-image: url("images/SimpliSafeCam.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.three {
    background-image: url("images/dogBed.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.four {
    background-image: url("images/HDD.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
    background-size: 150%;
}

.five {
    background-image: url("images/harnessAttachment.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.six {
    background-image: url("images/teaPot.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.seven {
    background-image: url("images/bathTray.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option1 {
    background-image: url("images/teaDiffuser.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option2 {
    background-image: url("images/sushiPlate.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option3 {
    background-image: url("images/teaPet.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option4 {
    background-image: url("images/TSCO.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option5 {
    background-image: url("images/chewy.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option6 {
    background-image: url("images/H&STea.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option7 {
    background-image: url("images/whiteTea.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option8 {
    background-image: url("images/mixingBowls.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option9 {
    background-image: url("images/spiceRack.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option10{
    background-image: url("images/pieDish.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option11 {
    background-image: url("images/springPan.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.option12 {
    background-image: url("images/bakingTray.png");
    background-position: center;
    background-color: rgba(84, 148, 127, 0.87);
    background-blend-mode: multiply;
}

.item-card:hover {
    transform: scale(1.05);
}

h2 {
    display: flex;
    font-family: arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(245, 245, 245, 0.678);
    text-align: center;
    color: black;
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.678);
    margin: 10px;
    border-radius: 5px;
}

p {
    margin: 10px;
    font-weight: bold;
    font-size: 1.6rem;
}

.description {
    font-family: arial, sans-serif;
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.specs {
    font-family: arial, sans-serif;
    font-size: 0.9rem;
}

.link {
    background-color: rgb(23, 83, 58);
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    transition: 0.3s ease-in-out;
}

.link:hover {
    background-color: rgb(36, 131, 123);
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white;
}

.price {
    font-size: 2rem;
    font-family: arial, sans-serif;
    font-weight: bold;
    color: rgb(8, 70, 60);
}

.specs {
    color: black;
}

.description {
    color: black;
}

.otherIdeas {
    background-color: rgb(23, 83, 58);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    display: block;
    width: 20%;
    justify-content: center;
}

.otherIdeas:hover {
    background-color: rgb(36, 131, 123);
    transform: scale(1.05);
}   

.back {
    background-color: rgb(23, 83, 58);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    display: block;
    width: 20%;
    justify-content: center;
}

.back:hover {
    background-color: rgb(36, 131, 123);
    transform: scale(1.05);
}   

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(183, 207, 183, 0.884);
    text-align: center;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    box-sizing: border-box;
    height: auto;
}


#disclaimer {
    font-family: arial, sans-serif;
    font-size: 0.8rem;
}

.disclaimer {
    font-size: 0.8rem;
    margin: 5px;
}

.copywrite {
    font-family: arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

h3 {
    font-family: arial, sans-serif;
    font-size: 1.3rem;
}

#accept {
    display: none;
}

footer p {
    margin: 0 auto;
    max-width: 90%;
    text-align: center;
}

@media (max-width: 768px) {

    h1 {
        font-size: 1rem;
    }

    h2 {
        max-width: 80%;
    }

    #logo {
        height: 2rem;
    }

    footer {
        padding: 10px 0;
    }

    .copywrite {
        width: 100%;
        text-align: center;
    }

    #disclaimer {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
        font-family: arial, sans-serif;
        font-size: 0.6rem;
        box-sizing: border-box;
        width: 100%;
    }

    .disclaimer {
        font-size: 1rem;
        width: 100%;
        margin: 0;
    }

    .copywrite {
        font-family: arial, sans-serif;
        font-size: 0.9rem;
    }

    h3 {
        font-family: arial, sans-serif;
        font-size: 1.5rem;
    }

    .back {
        width: 90%;
    }

    .otherIdeas {
        width: 90%;
    }

    #accept {
        background-color: rgb(23, 83, 58);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
    display: block;
    min-width: 150px;
    width: auto;
    justify-content: center;
    }

    #accept:hover { /*try 2 */
        background-color: rgb(36, 131, 123);
        transform: scale(1.05);
    }
}

@media (max-width: 320px) {

    h1 {
        display: none;
    }

    .back {
        width: 90%;
    }

    .otherIdeas {
        width: 90%;
    }

    
}
